body {
  background-color: grey;
  font-size: 20px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: repeating-linear-gradient(#585859 0%, #8d8e8e 40%,#8d8e8e 40%,#585859 100%);
  height: 200vh;
  text-decoration: none;
}
header{
 /*background-color: #333;*/
   height: 20vh;
   overflow: hidden;
   float: left;
   width:80vw;
   margin-bottom: -12.2vh;
}
a {
 text-decoration: none;
}
/*
.topnav {
   background-color: #333;
   width: 67.6vw;
   float: left;
   height: 8vh;
}
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 1.9vh 1.2vw;
  text-decoration: none;
  font-size: 3.5vh;
}
.topnav a:hover {
  background-color: #545353;
  color: black;
}
*/
.topnavright {
    background-color: #333;
   /* width: 10vw;*/
    float: left;
    text-align: center;
    height: 7.8vh;
}
.topnavright > ol{
    padding:0;
    margin:0;
    list-style-type:none;

}
.topnavright > ol a{
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    height: 7.8vh;
}
.topnavright > ol > li{
    float:left;
    width: 5vw;
}
.topnavright > ol > li :hover {
     background-color: #545353;
}
.topnavright > ol > li > ul{
     padding:0;
     margin:0;
     list-style-type:none;
     display: none;

}
.topnavright > ol > li:hover >ul{
     display: block;
}

.topnavright > ol > li > ul > li{
    background-color: #333;
    position: relative;
    z-index: 100;
    height: 3.5vh;
    padding: 1vh;
    font-size: 2.5vh;

}
.topnavright > ol > li > ul > li a{
    height: 3.5vh;
}
.topnavright > ol > li > ul > li:hover{
    background-color: #545353;
}
/************************************************************************************************************/
.topnav {
    background-color: #333;
    width: 70vw;
    float: left;
    text-align: center;
    height: 7.8vh;
    /*! padding: 1.2vh 1.9vh; */
    font-size: 4.5vh;
}
.topnav > ol{
    padding:0;
    margin:0;
    list-style-type:none;
    line-height: 170%;

}
.topnav > ol a{
    color: #f2f2f2;
    text-decoration: none;
    display: block;
    height: 7.8vh;
    /*! padding: 1.2vh 1.9vh; */
}
.topnav > ol > li{
    float:left;
    width: 9vw;
    height: 7.8vh;
    /*! font-size: 4.5vh; */
    /*! padding: 1.2vh 1.9vh; */
}
.topnav > ol > li :hover {
     background-color: #545353;
     color: black;
    /* width: 9vw;*/
     /* height: 7.8vh;*/
}
.topnav > ol > li > ul{
     padding:0;
     margin:0;
     list-style-type:none;
     display: none;

}
.topnav > ol > li:hover >ul{
     display: block;
}

.topnav > ol > li > ul > li{
    background-color: #333;
    position: relative;
    z-index: 100;
    height: 3.5vh;
    padding: 1vh;
    font-size: 2.5vh;
    line-height: 170%;
}
.topnav > ol > li > ul > li a{
    height: 3.5vh;
}
.topnav > ol > li > ul > li:hover{
    background-color: #545353;
}


.topnav_user {
    width: 70vw;
    float: left;
    background-color: #333;
    height: 7.8vh;
    font-size: 4.5vh;

}
.topnav_user a {
  color: #f2f2f2;
  text-align: center;
  padding: 1.9vh 1.2vw;
  text-decoration: none;
  font-size: 4vh;
  line-height: 182%;
}
.topnav_user a:hover {
  background-color: #545353;
  color: black;
}
/*
.topnav > ol{
    padding:0;
    margin:0;
    list-style-type:none;
    height: 7.8vh;
    font-size: 2.5vh;
    font-size: 3.5vh;
    display: inline_block;
}

.topnav > ol a{
    color: #f2f2f2;
    text-decoration: none;
    display: block;
}
.topnav > ol > li {
    float:left;
    width: 10vw;
    height: 7.8vh;
}
.topnav > ol > li : hover{
    background-color #545353;;
}*/
/*

.topnav > ol{
    padding:0;
    margin:0;
    list-style-type:none;

}
.topnav > ol a{
    color: #f2f2f2;
    text-decoration: none;
    display: block;
}
.topnav > ol > li{
    float:left;
    width: 8.0vw;
}
.topnav > ol > li :hover {
     background-color: #545353;
}
.topnav > ol > li > ul{
     padding:0;
     margin:0;
     list-style-type:none;
     display: none;

}
.topnav > ol > li:hover >ul{
     display: block;
}

.topnav > ol > li > ul > li{
    background-color: #333;
    position: relative;
    z-index: 100;
    height: 2.5vh;
    padding: 0.5vh;
    font-size: 2.5vh;

}
.topnav > ol > li > ul > li a{
    height: 3.5vh;
}
.topnav > ol > li > ul > li:hover{
    background-color: #545353;
}*/




/*
.topnavright a {
  color: #f2f2f2;
  text-decoration: none;
  font-size: 1vh;
}*/
/*
.arrow_back {
      width: 5vw;
      float: left;
      height: 8.3vh;
}

.arrow_back a {
text-decoration: none;
    width: 5vw;
    float: left;
    height: 8.3vh;
}
.arrow_back a:hover {
    background-color: #545353;
}*/
#usericon{
    margin-top: 0.7vh;
}
#usericon2{
    margin-top: 0.7vh;
}
/*
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}*/
@keyframes slidy {
0% { left: 0%; }
24% { left: 0%; }
34% { left: -100%; }
66% { left: -100%; }
76% { left: -200%; }
100% { left: -200%; }

}

div#slider {
    overflow: hidden;
    clear: both;

}
div#slider figure img { width: 5%;  }
div#slider figure {
  position: relative;
  width: 400%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 0;
  animation-name: slidy;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.name{
    height: 20vh;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 10vw;
  float: left;
}
.title {
  width: 50vw;
  height: 7vw;
  float: left;
  margin-top: 11px;
  margin-bottom: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 14.5vh;
  margin-left: 10vw;
}
.img{
    height: 16vh;
    margin-bottom: 10px;
}
.nav{
   text-align: center;
   font-size: 6vh;
   margin-top: 11vh;
   margin-bottom: 1vh;
}
#nav_city{
   margin-top: 0vh;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.animal-box{
    /*border-style: dotted;*/
    border-width: 0.13vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    background: rgba(0,0,0,.5);
    border-radius:15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    margin-top: 3vh;

}
.animal_image{
    width: 18vw;
    height: 18vw;
}
.animal_data{
    width: 17.3vw;
    height: 18vw;
    margin-left: 0.5vw;
    float: left;
}
#animal_data_user{
    width: 20.6vw;
}
.options{
    width: 3vw;
    height: 18vw;
    margin-left: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.options_city{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.edit-icon{
    width: 2vw;
    height: 2vw;
}
.option-edit-city{
    width: 2vw;
    height: 2vw;
    margin-top: 0.4vh;
    padding: 1.7vh;
    padding-right: 1.7vh;
    margin-right: 1vw;
    padding-right: 0.2vh;
}
.delete-icon{
    width: 2vw;
    height: 2vw;
}
.option-edit {
    width: 2vw;
    height: 2vw;
    margin-top: 13vh;
}
.option-delete {
    width: 2vw;
    height: 2vw;
    margin-bottom: 13vh;
}

.option-delete-city{
    width: 2vw;
    height: 2vw;
    padding: 1.7vh;
    padding-left: 1.7vh;
    padding-left: 0.2vh;
}
.data_title{
    float: left;
    margin-right: 0.5vw;
}
.data{}
.data_line{
    margin-top: 1vh;
}
.data_line_city{
    width: 9vw;
    padding: 1.5vh;
    font-size: 4vh;
    text-align: center;
}
.data_line_city a{
    color: black;
}
#data_line_city_user{
    width: 17vw;
}


.city-box{
   border-width: 0.13vw;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   color: black;
   background: rgba(0,0,0,.5);
   border-radius: 15px;
   margin-left: auto;
   margin-right: auto;
   box-sizing: border-box;
   box-shadow: 0 15px 25px rgba(0,0,0,.6);
   margin-top: 3vh;

}
.cityInformations{
   text-align: center;
   margin-top: 11vh;
   width: 31vw;
   margin-left: auto;
   margin-right: auto;
}
#cityName{
   font-size: 7vh;
}
.cityContact{
   font-size: 4vh;
   text-align: left;
   width: 55vw;
}
.cityContactTitle{
   font-size: 3.5vh;
   float: left;
   width: 12vw;
   text-align: end;
   margin-left: 2vw;
   margin-right: 1vw;
}
.cityData{

}
.addForm{
    background: rgba(0,0,0,.5);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
    width: 27vw;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: white;
    margin-bottom: 25vh;
    height: 84vh;
}
.h1{
      /*background-color: #333;*/
      background-color: #5c5e5e;
      color: white;
      padding: 10px 9px 10px 9px;
      letter-spacing: 1px;
      margin-left: -4vw;
      width: 12vw;
      text-align: center;
      margin-bottom: 1vh;
      margin-top: -1vh;
      font-size: 3.5vh;
}
input{
    font-family: inherit;
    padding: 0.7vh;
    width: 95%;
    margin-top: 1vh;
}
label{
    justify-self: end;
}
.form_category{
    margin-top: 2vh;
}

#photo {
  max-width: 17vw;
  max-height: 17vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0.9vw;
}
.button{
   margin-top: 3vh;
}
#checkbox{
    position: relative;
    left: -3.9vw;
    top: -3.3vh;
}
#image{
    margin-left: 1vh;
    width: 70%;
}
#city{
    margin-top: -1vh;
}
#reset_button{
    float: left;
    width: 10vw;
    padding: 1vh;
    margin-right: 1.65vw;
}
#submit_button{
    float: left;
    width: 10vw;
    padding: 1vh;
}
#submit_button_city
{
    margin-left: 11.5vw;
    float: left;
    width: 10vw;
    padding: 1vh;
}
#cityAdd{
    height: 56vh;
}

.error{
    color: #d9646c;
    font-size: 2vh;
}
#addUser{
    height: 65vh;
    margin-top: 9vh;
}
#login{
    height: 49vh;
}

#login_button{
    margin-top: 2.5vh;
    width: 10vw;
    padding: 1.5vh;
    margin-left: 5.5vw;

}
.information{
    font-size: 2vh;
    margin-top: 2vh;
    text-align: center;
}
.information a {
  color: white;
  text-decoration: none;
}


.cities_description
{
    color: black;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12vh;
    margin-bottom: 4vh;
    font-size: 2.8vh;
    text-align: center;
}
.succesfull_registration{
    text-align: center;
}
.succesfull_registration a{
    color: black;
}
#found_home_information{
   color: white;
   text-align: center;
   font-size: 3vh;
   background-color: #333;
   padding: 1vh;
}
h1{
    text-align: center;
    margin-top: 11vh;
}

#contact1{
    text-align: center;
}
#lokalizacja{
}
#lokalizacja_image{
    width: 73%;
    float: left;
}
#contact2{

    text-align: center;
    margin-top: 8vh;
    width: 55vw;
    margin-bottom: -1vh;

}
h2{

}
#contact3{

}
#contact4{
margin-left: 60vw;
font-size: 3.5vh;
text-align: center;
margin-top: 12vh;
}
#body_contact{
    height: 125vh;
}