body {
  background-color: grey;
  font-size: 20px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: repeating-linear-gradient(#585859 0%, #8d8e8e 40%,#8d8e8e 40%,#585859 100%);
  height: 200vh;
  text-decoration: none;
}
a:link {
  text-decoration: none;
  color: black;
}
header{
 background-color: #333;
   height: 8.3vh;
   overflow: hidden;
   float: left;
   width:80vw;
}
.topnav {
    width: 72.6vw;
    float: left;
    padding: 1.9vh 1.2vw;
}
.topnav a {
  color: #f2f2f2;
  text-align: center;
  padding: 1.9vh 1.2vw;
  text-decoration: none;
  font-size: 4vh;
}
.topnav a:hover {
  background-color: #545353;
  color: black;
}
.arrow_back {
      width: 5vw;
      float: left;
      height: 8.3vh;
}
.arrow_back a {
    width: 5vw;
    float: left;
    height: 8.3vh;
}
.arrow_back a:hover {
    background-color: #545353;
}
.icon_image{
    width: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.9vw;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider {
    overflow: hidden;
    clear: both;
}
div#slider figure img { width: 20%;  }
div#slider figure {
  position: relative;
  width: 500%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
.name{
    height: 20vh;
}
.logo {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 10vw;
  float: left;
}
.title {
  width: 50vw;
  height: 7vw;
  float: left;
  margin-top: 11px;
  margin-bottom: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 14.5vh;
  margin-left: 10vw;
}
.img{
    height: 16vh;
    margin-bottom: 10px;
}
.nav{
    text-align: center;
    font-size: 6vh;
    margin-top: 11vh;
    margin-bottom: 4vh;
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.animal-box{
    /*border-style: dotted;*/
    border-width: 0.13vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    color: black;
    background: rgba(0,0,0,.5);
    border-radius:15px;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);

}
.animal_image{
    width: 18vw;
    height: 18vw;
}
.animal_data{
    width: 17.3vw;
    height: 18vw;
    margin-left: 0.5vw;
    float: left;
}
.options{
    width: 3vw;
    height: 18vw;
    margin-left: 0.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.edit-icon{
    width: 2vw;
    height: 2vw;
}
.delete-icon{
    width: 2vw;
    height: 2vw;
}
.option-edit {
    width: 2vw;
    height: 2vw;
    margin-top: 13vh;
}
.option-delete {
    width: 2vw;
    height: 2vw;
    margin-bottom: 13vh;
}
.options a:hover {
    background-color: #5c5a5a;
}
.data_title{
    float: left;
    margin-right: 0.5vw;
}
.data{}
.data_line{
    margin-top: 1vh;
}
/*.addForm{
    background-color: #6b6b6b;
    border: solid;
    width: 35vw;
    height: 55vh;
    border-color: #333;
    margin-left: auto;
    margin-right: auto;
    border-width: 0.7vh;
    border-radius: 5vh;
    margin-top: 14vh;
    box-shadow: 0px 8px 24px 0 rgba(255,255,255,0.05) ;
}*/
.addForm{
    background: rgba(0,0,0,.5);
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 14vh;
    width: 27vw;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    color: white;
    margin-bottom: 25vh;
    height: 83vh;
}
.h1{
      background-color: #333;
      color: white;
      padding: 10px 9px 10px 9px;
      letter-spacing: 1px;
      margin-left: -4vw;
      width: 12vw;
      text-align: center;
      margin-bottom: 1vh;
      margin-top: -1vh;
      font-size: 3.5vh;
}
input{
    font-family: inherit;
    padding: 0.7vh;
    width: 95%;
    margin-top: 1vh;
}
label{
    justify-self: end;
}
.form_category{
    margin-top: 2vh;
}

#photo {
  max-width: 17vw;
  max-height: 17vw;
  display: flex;
  flex-wrap: wrap;
  padding: 0.9vw;
}
.button{
   margin-top: 3vh;
}
#checkbox{
    position: relative;
    left: -3.9vw;
    top: -3.3vh;
}
#image{
    margin-left: 1vh;
    width: 70%;
}
#city{
    margin-top: -1vh;
}
#reset_button{
    float: left;
    width: 10vw;
    padding: 1vh;
    margin-right: 1.65vw;
}
#submit_button{
    float: left;
    width: 10vw;
    padding: 1vh;
}
#submit_button_city
{
    margin-left: 11.5vw;
    float: left;
    width: 10vw;
    padding: 1vh;
}
#cityAdd{
    height: 35vh;
}

.error{
    color: #d9646c;
    font-size: 2vh;
}