body{
    background-color:grey;
    /*font-family: ;*/
    font-size: 20px;
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    color: black;
}
a:link {
  text-decoration: none;
  color: black;
}
.topnav {
  background-color: #333;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 2.5vh;
}
.topnav a:hover {
  background-color: #545353;
  color: black;
}
.topnav a:active {
  background-color: #04AA6D;
  color: white;
}
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

div#slider { overflow: hidden; }
div#slider figure img { width: 20%;  }
div#slider figure {
  position: relative;
  width: 500%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite;
}
.name{

    height: 20vh;
}
.logo {

  margin-top: 10px;
  margin-bottom: 10px;
  height: 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 10vw;
  float: left;
}
.title {
  width: 50vw;
  height: 7vw;
  float: left;
  margin-top: 11px;
  margin-bottom: 10px;
  font-family: 'Acme', sans-serif;
  font-size: 14.5vh;
  margin-left: 10vw;
}
.img{
    height: 16vh;
    margin-bottom: 10px;
}
