<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>

<body>
<div th:replace="layout :: html_name_admin"/>
<header th:replace="layout :: html_menu_admin"/>

<div id="slider">
    <figure>
        <img src="img/mops1.jpg" alt>
        <img src="img/13.jpg" alt>
        <img src="img/1.jpg" alt>
        <img src="img/2.jpg" alt>
        <img src="img/3.jpg" alt>
        <img src="img/4.jpg" alt>
        <img src="img/14.jpg" alt>
        <img src="img/5.jpg" alt>
        <img src="img/6.jpg" alt>
        <img src="img/11.jpg" alt>
        <img src="img/8.jpg" alt>
        <img src="img/9.jpg" alt>
        <img src="img/10.jpg" alt>
        <img src="img/7.jpg" alt>
        <img src="img/12.jpg" alt>
    </figure>
</div>
<div id="found_home_information">they have found a new home</div>

<h1>Hello !</h1>
</body>
</html>