<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <title>Animals</title>
</head>
<body>
    <h2>Edit animal</h2>

    <form method="post" th:action="@{/animal}" th:object="${animalToAdd}">

        <div><input type="text" th:field="*{name}"></div>
        <div><input type="text" th:field="*{sex}"></div>
        <div><input type="text" th:field="*{age}"></div>
        <div><input type="text" th:field="*{description}"></div>
        <div><input type="text" th:field="*{species}"></div>
        <div><input type="text" th:field="*{isReserved}"></div>


    </form>
</body>
</html>