<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>


<body>
<div th:replace="layout :: html_name_admin"/>
<header th:replace="layout :: html_menu_admin"/>

<div class="nav">All animals from shelter</div>
<div class="content">
    <div class="animal-box" th:each="animal : ${allAnimalsFromList}">

        <div class="animal_image" > <img id="photo" th:src="@{${animal.photosImagePath}}" alt="animal image"></div>
        <div class="animal_data">
            <div class="data_line"><div class="data_title">name: </div><div class="data" th:text="${animal.name}"></div></div>
            <div class="data_line"><div class="data_title">sex: </div><div class="data" th:text="${animal.sex}"></div></div>
            <div class="data_line"><div class="data_title">age: </div><div class="data" th:text="${animal.age}"></div></div>
            <div class="data_line"><div class="data_title">species: </div><div class="data" th:text="${animal.species}"></div></div>
            <div class="data_line"><div class="data_title">city: </div><div class="data" th:text="${animal.city.name}"></div></div>
            <div class="data_line"><div class="data_title">is reserved: </div><div class="data" th:text="${animal.reserved}"></div></div>
            <div class="data_line"><div class="data_title">description: </div><div class="data" th:text="${animal.description}"></div></div><br>
            <div class="data_line"><div class="data_title">contact number: </div><div class="data" th:text="${animal.city.phone}"></div></div>
        </div>
        <div class="options" >
            <div class="option-edit"><a type="button"  th:href="@{/admin/animal/update/{id}(id=${animal.id})}"><img class="edit-icon" src="/img/edit-icon.jpg"></a></div>
            <div class="option-delete"><a type="button"  th:href="@{/admin/animal/delete/{id}(id=${animal.id})}"><img class="delete-icon" src="/img/icons8.png"></a></div>
        </div>

    </div>
</div>
</body>
</html>