<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:replace="layout :: html_head"/>
<body>
<div th:replace="layout :: html_name"/>
    <h2>Edit animal</h2>

    <form  th:method="post" th:action="@{/animal}" th:object="${animalToAdd}" enctype="multipart/form-data">

        <div><label>Name:</label><input type="text" th:field="*{name}"></div>
        <div>
            <label>Sex:</label>
            <select name="sex">
                <option th:each="sexOpt : ${T(ug.bachelor.domain.enums.Sex).values()}"
                        th:value="${sexOpt}" th:text="${sexOpt}"></option>
            </select>
        </div>
        <div><label>Age:</label><input type="text" th:field="*{age}"></div>
        <div><label>Description:</label><input type="text" th:field="*{description}"></div>
        <div>
            <label>Species:</label>
            <select name="species">
                <option th:each="speciesOpt : ${T(ug.bachelor.domain.enums.Species).values()}"
                        th:value="${speciesOpt}" th:text="${speciesOpt}"></option>
            </select>
        </div>
        <div><label>Reserved:</label>
            <!-- <input type="checkbox" th:checked="*{isReserved}"></div>-->
            <input type="checkbox" th:checked="*{isReserved}"></div>
            <!--  -->
        <div><label>City:</label>
            <select class="form-control" name="city">
                <option th:each="city : ${allCities}"
                        th:value="${city.id}"
                        th:text="${city.name}">City</option>
            </select>
        </div>

        <div><label>Obraz:</label>
            <input type="file" name="image" accept="image/png, image/jpg" />


          <div><input type ="submit" th:value="Submit"></div>



      </form>

  </body>
  </html>