<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link href="css/custom.css" rel="stylesheet" type="text/css"/>
    <title>All mammals</title>
</head>

<body>

<header>

    <div class="topnav">
        <a class="active" href="/">Start</a>
        <a href="/animal">Zwierzęta</a>
        <a href="/">Miejsca</a></li>
        <a href="">About</a>
    </div>

</header>

<div><a th:href="@{/animal/add}">Add animal</a></div>
<h2>animals from list</h2>
<table>
    <thead>
    <tr>
        <td>Name</td>
        <td>Sex</td>
        <td>Age</td>
        <td>Description</td>
        <td>Species</td>
        <td>Is Reserved</td>
    </tr>
    </thead>
    <tbody>
        <tr th:each="animal : ${allAnimalsFromList}">
            <td th:text="${animal.name}"></td>
            <td th:text="${animal.sex}"></td>
            <td th:text="${animal.age}"></td>
            <td th:text="${animal.description}"></td>
            <td th:text="${animal.species}"></td>
            <td th:text="${animal.isReserved}"></td>
            <td><a type="button"  th:href="@{/animal/update/{id}(id=${animal.id})}">Edit</a></td>
            <td><a type="button"  th:href="@{/animal/delete/{id}(id=${animal.id})}">Delete</a></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

<br>
<a href="/">Back to menu</a>

</body>
</html>