<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>
<body>
    <div th:replace="layout :: html_name"/>
    <header th:replace="layout :: html_menu"/>
<div><a th:href="@{/animal}">All animals</a></div>

<h2>Edit</h2>
<form method="post"  th:action="@{/animal/update/} + ${id}" th:object="${animalToUpdate} " enctype="multipart/form-data">

    <div><label>Name:</label><input type="text" th:field="*{name}"></div>
    <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>
    <div>
        <label>Sex:</label>
        <select name="sex">
            <option th:each="sexOpt : ${T(ug.bachelor.domain.enums.Sex).values()}"
                    th:value="${sexOpt}" th:text="${sexOpt}"></option>
        </select>
    </div>
    <div><label>Age:</label><input type="text" th:field="*{age}"></div>
    <div class="error" th:if="${#fields.hasErrors('age')}" th:errors="*{age}"></div>
    <div><label>Description:</label><input type="text" th:field="*{description}"></div>
    <div class="error" th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></div>

    <div>
        <label>Species:</label>
        <select name="species">
            <option th:each="speciesOpt : ${T(ug.bachelor.domain.enums.Species).values()}"
                    th:value="${speciesOpt}" th:text="${speciesOpt}"></option>
        </select>
    </div>
    <div><label>Reserved:</label><input type="checkbox" th:checked="*{isReserved}"></div>

    <label><div id="city" class="form_category">City:
        <select class="form-control" name="city">
            <option th:each="city : ${allCities}"
                    th:value="${city.id}"
                    th:text="${city.name}">City</option>
        </select></div></label>
    <div class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></div>

    <label><div class="form_category">Obraz:<input id="image" type="file" name="image" accept="image/png, image/jpg" />
    </div></label>
    <div class="button">
        <input id="reset_button" type ="reset" th:value="Reset">
        <input id="submit_button" type ="submit" th:value="Submit">
    </div>

</form>
</body>
</html>