<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>


<body>
    <div th:replace="layout :: html_name"/>
    <header th:replace="layout :: html_menu"/>

    <div class="cities_description"><k>The animals from our database are located in various cities in Poland, beneath is list of these cities.</k><br>
        <k>You can click on them and see animals in particular city.</k></div>

    <div class="nav" id="nav_city">All cities</div>
    <div class="content">
        <div class="city-box" th:each="city : ${allCitiesFromList}">
            <div class="data_line_city" id="data_line_city_user"><a type="button" th:href="@{/city/{id}(id=${city.id})}"><div class="data" th:text="${city.name}"></div></a></div>

        </div>

    </div>

</body>
</html>