<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>


<body>
<div th:replace="layout :: html_name_admin"/>
<header th:replace="layout :: html_menu_admin"/>

<div class="nav">All cities</div>
<div class="content">
    <div class="city-box" th:each="city : ${allCitiesFromList}">
        <div class="data_line_city">
            <a type="button" th:href="@{/city/{id}(id=${city.id})}">
                <div class="data" th:text="${city.name}"></div>
                <div class="data" th:text="${city.address}"></div>
                <div class="data" th:text="${city.phone}"></div>
            </a>
        </div>
        <div class="options_city" >


            <div class="option-edit-city"><a type="button"  th:href="@{/admin/city/update/{id}(id=${city.id})}"><img class="edit-icon" src="/img/edit-icon.jpg"></a></div>
            <div class="option-delete-city"><a type="button"  th:href="@{/admin/city/delete/{id}(id=${city.id})}"><img class="delete-icon" src="/img/icons8.png"></a></div>
        </div>
    </div>

</div>
</body>
</html>