<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>

<body id="body_contact">
<div th:replace="layout :: html_name"/>
<header th:replace="layout :: html_menu"/>


<h1>We are with you since 2016!</h1>

<div id="contact1">
    Thank you, for helping us saving life of
    animals and making them happier.
    If you want to adopt animal check our Animals list!

</div>


<div id="contact2">
    Our main headquarters is on
    Gdańsk Leśna 52 A.
</div>
<div id="lokalizacja">
    <figure>
        <img id="lokalizacja_image" src="/img/mapa.jpg" alt>

    </figure>
</div>

<div id="contact4">

<h2>Working hours:</h2>

<div id="contact3">
    Mon-Fri: 8:00 - 18:00 <br>
    Sat:    10:00 - 16:00 <br>
    Sun:    10:00 - 16:00 <br>
</div>

</div>
</body>
</html>