<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>

<body>
<div th:replace="layout :: html_name"/>
<header th:replace="layout :: html_menu"/>


<h1>We are with you since 2016!</h1>

<div id="kontakt1">
    Thank you, for helping us saving life of
    animals and making them happier.
    If you want to adopt animal check our Animals list!

</div>

<div id="lokalizacja">
    <figure>
        <img src="img/mapa.jpg" alt>

    </figure>
</div>

<div id="kontakt2">
    Our main headquarters is on
     Gdańsk Leśna 52 A.
</div>

<h2>Working hours:</h2>

<div id="kontakt3">
    Mon-Fri: 8:00 - 18:00 <br>
    Sat:    10:00 - 16:00 <br>
    Sun:    10:00 - 16:00 <br>
</div>


</body>
</html>