<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head th:fragment="html_head">
    <meta charset="UTF-8">
    <link href="/css/custom.css" rel="stylesheet" type="text/css"/>
    <!--<style type="text/css" media="all"> @import "css/custom.css"; </style>-->
    <title>Animal Shelter</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
</head>
<body>
    <div class="name" th:fragment="html_name">
        <div class="title">
            animal shelter
        </div>
        <div class="logo">
            <img class="img" src="/img/SCHRONISKO_LOGO.jpg">
        </div>
    </div>
    <header th:fragment="html_menu">
        <div class="topnav">
            <a class="active" href="/">Main</a>
            <a href="/animal">Animals</a>
            <a href="/city">Cities</a>
            <a href="/about">About</a>
        </div>
    </header>
</body>
</html>