<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: html_head"/>

<body>
<div th:replace="layout :: html_name"/>

<div id="login" class="addForm">
    <div class="h1">Login</div>
    <form th:action="@{/login}"  method="post">
        <label>
            <div class="form_category">E-mail</div>
            <input type="email" name="email" class="form-control"  required autofocus/><!--th:field="*{email}"-->
        </label>


        <label>
            <div class="form_category">Password</div>
            <input type="password" name="password"  class="form-control"  required /><!--th:field="*{password}"-->
        </label>

        <div class="button">
            <button id="login_button" type ="submit" >Login</button>
        </div>

        <div class="information"><a th:href="@{/register}">don't have an account? Sign up now</a></div>
    </form>


</div>

</body>
</html>